<!doctype html>
<html data-ng-app>
    <head>
     <title>Angular JS Hello world</title>
    </head>
    <body ng-init="name='James'">
        <div ng-hide="isHiddendd">
        Name: <input type="text" ng-model="name"> 
            <input type="text" ng-model="name">                 
            {{name}}
            </div>
        Hide:<input type="text" ng-model="isHiddendd">
        <br/>
       
        <button ng-click="name='adsf'">Change name</button>
        <script type="application/javascript" src="angular.js"></script>
    </body>

</html>