<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <!--<add key="ClientId" value="d9c3d3ea-729e-41f1-90a1-199e6ee5a780" />
  <add key="ClientSecret" value="Q1FvY89faEMWCKX9engeDN3vlc4RovdpvUl2at53h9k=" />-->
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

  <add key="ExchangeEmail" value="prashanth.g@motifworksinc.onmicrosoft.com"></add>
  <add key="ExchangePassword" value="Test123!"></add>
  <add key="TimeOffApprovers" value="TimeOffApprovers"/>
  <add key="WorkingHours" value="8"/>
  <add key="DepartmentCalUserName" value="HR@motifworksinc.onmicrosoft.com"></add>
  <add key="DepartmentCalPassword" value="Test123!"></add>
  <add key="HolidayList" value="Test123!"></add>

</appSettings>