<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <globalization uiCulture="es" culture="es-US" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <trace localOnly="false" />
  </system.web>
  <appSettings>
    <add key="ClientId" value="244f8d3e-50b2-45ba-9be2-d62921825119" />
    <add key="ClientSecret" value="Q1FvY89faEMWCKX9engeDN3vlc4RovdpvUl2at53h9k=" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="aspnet:AllowAnonymousImpersonation" value="false" />
    <!--<add key="Realm" value="the-tenant-id"/>-->
    <!--List Details-->
    <add key="TimeOffApprovers" value="TimeOffApprovers" />
    <add key="HolidayList" value="HolidayList"></add>
    <add key="OtherTimeOffDaysList" value="OtherTimeOffDaysList"></add>
    <add key="TimeOffTypes" value="TimeOffTypes"></add>
    <add key="ConfigList" value="ConfigList"></add>
    <add key="TimeOffRequests" value="TimeOffRequests"></add>
    <!--List Details-->
    <add key="ListURL" value="SPAppWebUrl" />
    <!--SPHostUrl,SPAppWebUrl-->
    <add key="WorkingHours" value="8" />
    <add key="SenderEmail" value="prashanth.g@motifworksinc.onmicrosoft.com"></add>
    <add key="SenderPassword" value="Test123!"></add>
    <!--<add key="SenderEmail" value=""></add>
    <add key="SenderPassword" value=""></add>-->
    <add key="DepartmentCalendar" value="Department Calendar" />
    <add key="DepartmentCalendarList" value="DeptCalendarList" />
    <add key="ConfigItems" value="TimeOffApprovers,WorkingHours,SenderEmail,SenderPassword,DepartmentCalendar,NotesToolTip,TimeOffTypeExceptionList,CancelLeaveDay" />
    <add key="NotesToolTip" value="add more details on the reason for Time Off"></add>
    <add key="TimeOffTypeExceptionList" value="Funeral Leave"></add>
    <add key="CancelLeaveDay" value="1" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
</configuration>